* {
    margin: 0;
    padding: 0;
}

input {
    outline: none;
    color: #ffffff;
}

hr {
    display: none;
}

a {
    border-radius: 5px;
}

.text-container {
    margin-bottom: 2em !important;
}

.text-container #menswear {
    width: 25% !important;
}

.text-container h1{
    margin: unset;
}

.text-container {
    margin: 10px 0;
}

.text-container a{
    margin: unset;
    transition-delay: 0.1s;
    transition: 0.2s;
}

.main-content img {
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    transition-delay: 0.1s;
    transition: 0.2s;
}
.flex {
    display: flex;
    justify-content: space-around;
    align-items: end;
}

p {
    line-height: 1vh;
}

header {
    background-color: #1e381e;
    height: 2em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header p {
    font: 15px Montserrat, Helvetica, Arial, sans-serif;
    color: #fff;
    margin-top: 16px;
    letter-spacing: 0.2vh;
}

.header {
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header .charges {
    width: 18%;
}

.charges {
    text-align: center;
}

.header img {
    transform: transitionX(20%);
    width: 86px;
    height: 86px;
}

.icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icons img {
    transform: unset;
    margin: unset;
}

.outer-nav {
    width: 100%;
    height: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 99;
    background-color: #f7f7f7;
}

.innear-nav {
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.innear-nav a {
    font: 14px Montserrat, Helvetica, Arial, sans-serif;
    padding: 8px;
    color: #1e1e1e;
    text-decoration: none;
    letter-spacing: 0.1em;
}

.menu-button {
    display: none;
}

.icons i {
    margin: 1.8vh;
}

.icons img {
    height: 22px;
    width: 22px;
}


/* main content of the body of the page */

.main-heading {
    background-color: #fff2cc59;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 35vh;
}

.main-content {
    background-color: #fff2cc59;
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 5em;
}

.main-heading h2 {
    font: 31px 'Crimson Pro', sans-serif;
    padding: 7px;
    letter-spacing: 0.05em;
}

.main-heading p {
    font: 16px Montserrat, Helvetica, Arial, sans-serif;
    letter-spacing: 0.08em;
}

.image-container {
    width: 90%;
}

.image-container-flex {
    display: flex;
    justify-content: space-around;
    align-items: end;
}

.innear-images-one h1 {
    font-weight: 400;
}

.innear-images-one p {
    letter-spacing: 0.04em;
    line-height: 0.5;
    margin: 0.8em 0 1.5em 0;
}

.innear-images-one a {
    text-decoration: none;
    color: #000000;
    letter-spacing: 0.2vh;
    border: 1px solid #000000;
    padding: 0.8vh 5vh;
}

.innear-images-one {
    width: 100%;
    justify-content: space-around !important;
}

.main-heading-paragraph {
    margin: 4em 0;
}
.image-container .main-content-paragraph {
    font: 14px Montserrat, Helvetica, Arial, sans-serif;
    text-align: center;
    letter-spacing: 0.08em;
}

.image-container .main-content-heading {
    font: 31px 'Crimson Pro', sans-serif;
    text-align: center;
    letter-spacing: 0.05em;
}

.innear-images-two {
    margin-top: 10vh;
    flex-wrap: wrap;
}

.innear-images-two h5 {
    text-align: center;
    margin-top: 10px;
}

.third-image-div img {
    width: 30%;
    height: 100%;
}

.third-image-div {
    margin-top: 7em;
}

.fifth-div img {
    width: 60%;
}

.fifth-div {
    margin-top: 5em;
}

#fifth-div-id {
    margin-top: 5em;
}

.flex-div {
    margin-top: 5em;
}

.adjust {
    width: 22%;
}

.flex-div img {
    width: 34%;
}


/* footer - container */

.footer-heading {
    background-color: #1e381e;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1e381e;
    height: 5em;
}

.header-input input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid white;
    width: 25em;
    margin-left: 6vh;
    background-color: #1e381e;
}

.footer-content {
    margin-top: 2em;
    display: flex;
    justify-content: space-around;
    margin: 2vh auto;
}

.footer-content a {
    display: list-item;
    text-decoration: none;
    list-style: none;
    line-height: 2.5;
    color: #000000;
}

.footer-text-content {
    width: 100%;
    background-color: #dfe1e3;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-text-content .text {
    margin-top: 18px;
}

.logo i {
    text-align: center;
    height: 10px;
    width: 50px;
}

.footer-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1em;
    margin-top: 15px;
    letter-spacing: 1px;
}

.footer-text a {
    font-weight: 600;
    text-decoration: none;
    color: #000000;
}